*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.contenedor{
    width: 1200px;
    border: 3px solid #000;
    margin-left: auto;
    margin-right: auto;
}.cabecera{
    width: 100%;
    height: 100px;
    background-color: #238acfb9;
}
.titulo{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize; 
    line-height: 100px;
}
.menu{
    background-color: #ccc; 
}
.menu ul{
    padding: 0;
}
.menu ul li{
    display: inline-block;
    padding: 15px;
    border-width: 0px  1px;
    border-style: solid;
    border-color: #eee;
}
.menu ul li a{
    color: #444;
}
.menu ul li:hover{
    background-color: #2368cfb9;
    cursor: pointer;
}
.menu ul li:hover a{
    color: #fff;
}
.principal{
    float:left;
    width: 70%;
    border: 1px solid red;
}
.caja{
    width: 300px;
    height: 300px;
    background-color: rgb(52, 100, 71);
    border: 5px solid #050505af;
}
.clearfix{
    float: none;
    clear: both;
}
.lateral{
    float: left;
    width: 30%;
    border: 1px solid blue;
}